<h2>All Constituencies</h2>

<div class = "fieldset" ng-repeat="constituency in constituencies">
	<div class = "inner" ng-repeat="detail in constituency.details" class="listing">
		<h3>{{detail.tdName}}</h3>	
		<h4>({{ constituency.constituency_name }})</h4>	
	    <div class = "image">
	        <img ng-src = "{{detail.image}}" alt = "{{detail.tdName}}" />
	    </div>
	    <table>
	    	<tr>
	    		<td>Political Party:</td>
	    		<td>{{detail.party}}</td>
	    	</tr>
	    	<tr>
	    		<td>First Preferences:</td>
	    		<td>{{detail.firstCount | number}}</td>
	    	</tr>
	    	<tr>
	    		<td>Elected on:</td>
	    		<td>{{detail.whenElected}}</td>
	    	</tr>
	    </table>
    </div>
</div>