<fieldset>
	<legend>{{ constituency.constituency_name }}</legend>
	
	<div class = "inner" ng-repeat="detail in constituency.details">
		<h3>{{detail.tdName}}</h3>
	    <div class = "image">
	        <img ng-src = "{{detail.image}}" alt = "{{detail.tdName}}" />
	    </div>
	    <table>
	    	<tr>
	    		<td>Political Party:</td>
	    		<td>{{detail.party}}</td>
	    	</tr>
	    	<tr>
	    		<td>First Preferences:</td>
	    		<td>{{detail.firstCount | number}}</td>
	    	</tr>
	    	<tr>
	    		<td>Elected on:</td>
	    		<td>{{detail.whenElected}}</td>
	    	</tr>
	    </table>
	</fieldset>
</div>
