<fieldset ng-repeat="constituency in constituencies">
  <legend>{{ constituency.constituency_name }}</legend>
	<div class = "inner" ng-repeat="detail in constituency.details" class="listing">		
	    <div class = "image">
	        <img ng-src = "{{detail.image}}" alt = "{{detail.tdName}}" />
	    </div>
	    <dl>
	        <dt><strong>{{detail.tdName}}</strong></dt>		
		        <dd>
		            <strong>Political Party:</strong> {{detail.party}}
		        </dd>
		        <dd>
		            <strong>Votes Received on First Count:</strong> {{detail.firstCount}}
		        </dd>
		        <dd>
		            <strong>Elected on:</strong> {{detail.whenElected}}
		        </dd>
	    </dl>
    </div>
</fieldset>