<img class = "upper_image" src = "images/north_central.png" alt = "Cork North Central constituency" />
<img class = "upper_image" src = "images/south_central.png" alt = "Cork South Central constituency" />
	<p>
		A site for those who are trying to learn a little
		more than they already know about politics,
		beginning with the five constituencies
		of County Cork.
		Pay close attention. You may find this information 
		useful when you play the game we have prepared for you.
		Happy learning!
	</p>
	
<div id="one_image">
    <img src = "images/north_west.png" alt = "Cork North West constituency" />
</div>
<div id="two_images">
    <img src = "images/east.png" alt = "Cork East constituency" />
    <img src = "images/south_west.jpg" alt = "Cork South West constituency" />
</div>