<div id = "game_sidebar">
	 <div id = "scores">
		 <p>Seconds Remaining:</p>
		 <div id = "countDown"></div>
		 <p>Your Score:</p>
		 <div id = "keepScore">{{ score | number:0 }}</div>
	 </div>
 </div>

<div id = "centre">

    <p>Select a constituency and a political party for each TD, and press the Submit button.</p>

    <div id = "image"><img ng-src = "{{ face }}" alt = "{{ name }}" /></div>
    <div id = "tdName"><p>{{ name }}</p></div><br>

    <select id = "cons" ng-model="selectedConstituency" ng-options="constituency.constituency_name for constituency in constituencies">
        <option value="">-- Constituency --</option>
    </select>

    <select id = "parties" ng-model="selectedParty">
    	<option>{{selectedParty }}</option>
        <option>Fianna Fail</option>
        <option>Fine Gael</option>
        <option>Labour</option>
        <option>Sinn Fein</option>
    </select>

    <button class = "submit" ng-click="choice()">Submit</button>
</div>